.section-about {
  margin-top: 10rem;
  position: relative;
  height: 100%;

  @include platform(tab-landscape) {
    width: 100%;
    display: flex;
    
  }

  .container {

    @include platform(desktop-lg) {
      display: flex;
      flex-direction: column;
    }

    .player-1 {
      width: 56%;

      @include platform(desktop-lg) {
        width: 80%;
        margin: 0 auto;
      }

      @include platform(tab-landscape) {
        width: 80vw;
        height: auto;
        margin: 0 auto;
      }
    }

    .text-box {
      height: 67%;
      width: 40.2%;
      display: inline-block;
      background-color: hsl(0, 0%, 100%);
      padding: 8rem;
      position: absolute;
      right: 21rem;
      bottom: -2rem;

      @include platform(desktop-lg) {
        position: static;
        padding: 0;
        width: 100%;
      }

      @include platform(tab-landscape) {
        width: 100%;
        height: auto;
      }

      @include platform(phone) {
        width: 80vw;
      }

      .heading-secondary {
        display: inline-block;
        font-family: 'Alata', sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 4rem;
        width: 40rem;
        margin-left: 3rem;
        margin-bottom: 3rem;

        @include platform(desktop-lg) {
          width: 100%;
          margin: 0;
          margin-top: 3rem;
          text-align: center;
        }

        @include platform(tab-landscape) {
          font-size: 4rem;
          text-align: center;
        }

        @include platform(phone) {
          width: 100%;
          text-align: center;
        }
      }

      p {
        display: inline-block;
        font-family: 'Alata', sans-serif;
        font-size: 1.3rem;
        letter-spacing: .6px;
        color: #989898;
        width: 42rem;
        line-height: 18px;
        margin-left: 3rem;

        @include platform(desktop-lg) {
          width: 100%;
          margin: 0;
          text-align: center;
          margin-top: 3rem;
          font-size: 1.8rem;
          line-height: 2.4rem;
        }

        @include platform(tab-landscape) {
          margin: 2rem auto 8rem auto;
          width: 100%;
          font-size: 2rem;
          text-align: center;
          line-height: 28px;
        }

        @include platform(tablet) {
          font-size: 1.2rem;
          line-height: 22px
        }
      }
    }
  }
}