.section-creations {
    margin: 10rem auto;

    @include platform(tab-landscape) {
        margin: 0 auto;
    }
    
    
    .group-1 {
        display: flex;
        justify-content: space-between;

        @include platform(tab-landscape) {
            flex-direction: column;
            text-align: center;
        }

        .heading-secondary {
            font-family: 'Alata', sans-serif;
            font-weight: 100;
            font-size: 4rem;
        }
        
        .btn {
            background-color: transparent;
            text-transform: uppercase;
            border: 1px solid black;
            letter-spacing: 2px;
            font-size: 1.3rem;
            width: 11.6rem;
            height: 3.5rem;

            @include platform(tab-landscape) {
                margin: 3rem auto 0 auto;
            }
        }
    }

    .img-gallery {
        display: grid;
        margin-top: 5rem;
        grid-template-columns: repeat(4, 256px);
        justify-content: space-between;
        row-gap: 38px;

        @include platform(tab-landscape) {
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            grid-gap: 1rem;
        }

        & > * {
            max-width: 100%;
        }
    }
}     