.heading-primary {
    color: white;
    font-size: 6rem;
    font-weight: 100;
    line-height: 5.2rem;
    font-family: 'Alata', serif;
    text-transform: uppercase;
    padding: 3rem;
    border: 1px solid white;
}

.header {
    &__logo-box {
        color: white;
    }

    &__nav-link {
        color: white;
    }
}