//// - VARIABLES

// - Colors

// - Fonts


// - Media query manager breakpoint variables
$phone: 450px;
$tab-portrait: 600px;
$tablet: 780px;
$tab-landscape: 950px;
$desktop: 1050px;
$desktop-lg: 1150px;