.footer {
    background-color: black;
    color: white;
    
    &__row {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 1200px;
    }

    &__attribution {
        width: 100%;
        text-align: center;
    }
}